<article class='column'>
  <a href='<%=article.permalink%>' class='permalink'>link</a>
  <em class='title'><%=article.title%></em>
  <time class='date'><%=article.date%></time>
  <p class='content'><%=article.content%></p>
  <p class='tags'><%=article.tags%></p>
</article>
