<!Doctype html>
<html>
  <head>
    <%= erb(:google_tracking) %>
    <script src="modernizr.js"></script>
    <script src="jquery-1.7.2.min.js"></script>
    <script src="slides.js"></script>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="fonts.css">
    <!-- default grid - expect this to get adjusted for different devices-->
    <link rel="stylesheet" href="responsive/grid.css">
    <!-- default device is basic mobile-->
    <link rel="stylesheet" href="responsive/base.css">
    <!--

        IE doesn't support media queries 

        We are tuning this into IE desktop
        mode by enabling wide over
        base for IE browser
        less than IE 9

        We do nothing for IEMobile as
        the base.css is written for small
        form devices without media-query
        support already

    -->
    <!--[if !IEMobile]>
      <link rel="stylesheet" href="responsive/wide.css" media="all"/>
    <![endif]-->
    <![if false]>
    <!-- small devices -->
    <link rel="stylesheet" 
          href="responsive/320px_to_767px.css"  
          media='screen and (min-width:320px) and (max-width:767px) ' 
          />    

    <!-- small portrait devices -->      
    <link rel="stylesheet" 
          href="responsive/small/320px_to_480px.css"  
          media='screen and (min-width:320px) and (max-width:480px) '
          />

    <!-- wide devices -->
    <link rel="stylesheet" 
          href="responsive/768px_or_wider.css"  
          media='screen and (min-width:768px)' 
          />
    
    <!-- wide tablet devices -->
    <link rel="stylesheet" 
          href="responsive/wide/768px_to_1024px.css"  
          media='screen and (min-width:768px) and (max-width:1024px)' 
          />

    <![endif]>
  </head>

  <body class="<%=@pagename.to_s%>">
    <div id='header-wrapper'>
      <div class='header'>
        <a class='logo' href='/'>
          <div alt='Blazing Cloud'></div>
        </a>
        <%= erb :nav, :locals => {:active => @pagename } %>
      </div>
    </div>
      <%=yield%>
    <footer>
      <section class='bottom grid'>
        <div class='bottom-logo' alt='blazing cloud'></div>
          <section>
            <article class='tile'>
            <ul>
              <li>
              <span>E mail</span> <a href="mailto:info@blazingcloud.net">info@blazingcloud.net</a>
              </li>
              <li>
              <span>Fax</span> (415) 738-5407
              </li>
            </ul>
            </article>
          </section>
          <span class='copyright'>&copy; 2009-2013 Blazing Cloud, Inc.</span>
      </section>
    </footer>
  </body>
</html>


